<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Post Comment</th>
      <th>Image</th>
      <th>Posted By</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.post %></td>
        <td><%= image_tag picture.image.url, style:'width:200px;height:150px' %></td>
        <td><%= picture.user.name%></td>
        <td class="label label-success btn"><%= link_to 'Show', picture %></td>
        <td class="label label-warning btn"><%= link_to 'Edit', edit_picture_path(picture.id) %></td>
        <td class="label label-danger btn"><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
